<a href="https://colab.research.google.com/github/lim-jr/ESAA/blob/main/0923%EA%B8%88%EA%B3%BC%EC%A0%9C_2_students_alcohol_consumption_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

### Step 3. Assign it to a variable called df.

In [7]:
from google.colab import drive
drive.mount('/content/drive')
df = pd.read_csv('/content/drive/MyDrive/Py_Colab/ESAA_YB/student-mat.csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [ ]:
df=df.loc[:,'school':'guardian']
df.head()

### Step 5. Create a lambda function that will capitalize strings.

In [ ]:
capital=lambda x : x.upper()

### Step 6. Capitalize both Mjob and Fjob

In [ ]:
df['Mjob'].apply(capital)
df['Fjob'].apply(capital)

### Step 7. Print the last elements of the data set.

In [ ]:
df.iloc[-1,-1]

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.

In [ ]:
df['Mjob']=df['Mjob'].apply(lambda x:x.upper())
df['Fjob']=df['Fjob'].apply(lambda x:x.upper())
df.head()

### Step 9. Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [ ]:
def majority(x):
  if x>17:
    a=True
  else:
    a=False
  return a

In [ ]:
df['legal_drinker']=df['age'].apply(majority)
df.head()

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise

In [ ]:
def mult(x):
    if type(x) == int:
      x*=10
    return x
df.applymap(mult)