<a href="https://colab.research.google.com/github/lim-jr/ESAA/blob/main/0923%EA%B8%88%EA%B3%BC%EC%A0%9C_3_wine_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Wine

### Introduction:

This exercise is a adaptation from the UCI Wine dataset.
The only pupose is to practice deleting data with pandas.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

### Step 3. Assign it to a variable called wine

In [4]:
wine=pd.read_csv("wine.data",sep=',')
wine.head()

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [ ]:
wine.drop(wine.columns[[0,3,6,8,10,12,13]],axis=1,inplace=True)
wine.head()

### Step 5. Assign the columns as below:

The attributes are (donated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [ ]:
wine.columns=['alcohol','malic_acid','alcalinity_of_ash','magnesium','flavanoids','proanthocyanins','hue']
wine.head()

### Step 6. Set the values of the first 3 rows from alcohol as NaN

In [ ]:
wine['alcohol'][:3]=np.nan
wine.head()

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [ ]:
wine['magnesium'][[2,3]]=np.nan
wine.head()

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [ ]:
wine['alcohol']=wine['alcohol'].fillna(10)
wine['magnesium']=wine['magnesium'].fillna(100)
wine.head()

### Step 9. Count the number of missing values

In [ ]:
wine.isna().sum()

### Step 10.  Create an array of 10 random numbers up until 10

In [ ]:
a=np.random.randint(1,10,10)
a

### Step 11.  Use random numbers you generated as an index and assign NaN value to each of cell.

In [ ]:
wine.iloc[a]=np.nan
wine

### Step 12.  How many missing values do we have?

In [ ]:
wine.isna().sum().sum()

### Step 13. Delete the rows that contain missing values

In [ ]:
wine.drop(a,axis=0)

### Step 14. Print only the non-null values in alcohol

In [ ]:
wine['alcohol'].drop(a)

### Step 15.  Reset the index, so it starts with 0 again

In [ ]:
wine.reset_index(drop=True).head()