# **자료형**

##Q1. 다음 수의 평균을 구하세요.

80, 75, 55, 95

In [39]:
num = [80, 75, 55, 95]
sum(num)/len(num)

76.25

In [40]:
import numpy
numpy.mean(num)

76.25

for 반복문

##Q2. 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력하세요.
홍길동 씨의 주민등록번호는 881120-1068234이다.

In [4]:
# 답을 작성해주세요
id_Hong = "881120-1068234"
print(id_Hong[0:6])
print(id_Hong[7:])

881120
1068234

In [5]:
# 답안 참고

first = id_Hong[:6] # 슬라이스 처음부터할때는 0 생략 가능
last = id_Hong[7:] # 슬라이스 끝까지 할때는 뒷값 생략 가능

print(first)
print(last)

881120
1068234

##Q4. 주민등록번호에서 성별을 나타내는 숫자를 출력하세요.
주민등록번호 뒷자리의 첫 번째 숫자는 성별을 나타낸다.

In [42]:
# 답을 작성해주세요
id_pin = "881120-2153468"
print(id_pin[7])

2

##Q5. [1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 정렬하세요

In [7]:
# 답을 작성해주세요
rand_list = [1, 3, 5, 4, 2]
rand_list.sort(reverse=True)
rand_list

[5, 4, 3, 2, 1]

In [44]:
sorted(rand_list, reverse=True)

[5, 4, 3, 2, 1]

In [12]:
# 답안 참고
rand_list = [1, 3, 5, 4, 2]
rand_list.sort() # 오름차순
rand_list.reverse() # 역순을 따로 처리
rand_list

[5, 4, 3, 2, 1]

##Q7. 다음 리스트를 Life is too short 문자열로 만들어 출력하세요

In [13]:
# 답을 작성해주세요
string_list = ['Life', 'is', 'too', 'short'] 

for i in string_list :
    print(i, end=" ")

Life is too short

In [14]:
# 답안 참고

result = " ".join(string_list)
print(result)

Life is too short

* join 함수
"구분자".join(list) 
리스트 내 요소를 문자열로 합쳐서 반환

# **제어문**

## Q1. 다음 코드의 결과는?
```python
a = "Life is too short, you need python"

if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")
```

###연습

a = "Life is too short, you need python"

if "wife" in a: print("wife")
          f   : 출력x
elif ("python" in a) and ("you" not in a) : print("python")
               t     and     f = f        : 출력x
elif "shirt" not in a: print("shirt")
       t 
elif "need" in a: print("need")
        f
else: print("none")
f
```

In [ ]:
# 답을 작성해주세요
shirt

In [1]:
a = "Life is too short, you need python"

if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

shirt

##Q2. while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구하세요

In [16]:
# 답을 작성해주세요
# 답안 참고

result = 0
i = 1
# 변수 미리 정의

while i <= 1000:
    if i % 3 ==0 :
        result += i
    i += 1

print(result)

166833

## Q3. while문을 사용하여 다음과 같이 별(*)을 표시하는 프로그램을 작성하세요

![image.png]()

In [18]:
# 답을 작성해주세요

i = 1 

while i <=5:
    print("*"*i)
    i +=1

*
**
***
****
*****

In [28]:
# 답안 참고

i = 0
while True:
    i +=1
    if i > 5: break
    print(i)
    
'''
i = 0 
i = 0+1 = 1
if문에서 false 
i 를 출력

i = 1
i = 1+1 = 2
if문에서 false
i를 출력
.
.
.
i = 4
i = 4+1 = 5 
if문에서 false
i를 출력

i = 5
i = 5+1 = 6
if문에서 true
if문에서 break
출력, 와일루프 모두 break
'''

1
2
3
4
5

'\ni = 0 \ni = 0+1 = 1\nif문에서 false \ni 를 출력\n\ni = 1\ni = 1+1 = 2\nif문에서 false\ni를 출력\n.\n.\n.\ni = 4\ni = 4+1 = 5 \nif문에서 false\ni를 출력\n\ni = 5\ni = 5+1 = 6\nif문에서 true\nif문에서 break\n출력, 와일루프 모두 break\n'

## Q4. for문을 사용해 1부터 100까지의 숫자를 출력하세요

In [38]:
# 답을 작성해주세요

# range(a)    0 ~ a-1
# range(a, b) a ~ b-1

for i in range(1,101):
    print(i, end=" ")
    
print("\n")
    
num = []
for j in range(1, 101):
    num.append(j)
print(num)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

##Q5. for문을 사용하여 평균을 구하세요.

A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.

[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

In [42]:
# 답을 작성해주세요

score = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total= 0 
# total을 0으로 미리 정의해놓지 않으면
# for문에서 더할 때 문자열로 인식해서 오류

for i in score:
    # total = sum(i)
    # i 가 스코어 리스트에 하나씩 접근하면서 하나씩 더해지는건데
    # sum함수는 적절치 않다.
    total += i
    length = len(score)
print(total/length)

79.0

##Q6. number list에서 홀수에만 2를 곱해 결과를 result에 저장한 후 출력하세요

In [46]:
numbers = [1, 2, 3, 4, 5]
result = []

for i in numbers:
    if i % 2 != 0:
        result.append(i*2)
print(result)

[2, 6, 10]

# **함수와 입출력**

##Q1. 주어진 자연수가 홀수인지 짝수인지 판별하는 함수를 작성하세요

In [49]:
# 답을 작성해주세요
def is_odd(a):
    if a == 2 :
        print("짝수이다.")
    else:
        print("홀수이다.")

is_odd(9)

홀수이다.

## Q2. 입력으로 들어오는 모든 수의 평균을 계산해주는 함수를 작성하고 실행하세요
(입력으로 들어오는 수의 개수는 랜덤입니다.)

In [62]:
# 답을 작성해주세요

def average_rand(*n):
    return type(n), sum(n), len(n)

average_rand(1, 2, 3)

# 인수에 *추가하면 여러개의 인수 받을 수 있다.
# 여러개의 인수 받으면 튜플로 인식

(tuple, 6, 3)

In [65]:
def average_rand(*n):
    n_sum = sum(n)
    n_len = len(n)
    return n_sum/n_len

average_rand(1,2,3)

2.0

## Q3. 다음 프로그램의 오류를 수정하고 실행하세요

In [66]:
input1 = input("첫번째 숫자를 입력하세요:")
input2 = input("두번째 숫자를 입력하세요:")

total = input1 + input2
print("두 수의 합은 %s 입니다" % total)

첫번째 숫자를 입력하세요:1
두번째 숫자를 입력하세요:2
두 수의 합은 12 입니다

In [ ]:
# 수정한 코드를 작성하고 실행하세요

In [67]:
input1 = input("첫번째 숫자를 입력하세요:")
input2 = input("두번째 숫자를 입력하세요:")

total = int(input1) + int(input2)
print("두 수의 합은 %s 입니다" % total)

# 인풋함수로 받는 수도 문자열로 인식

첫번째 숫자를 입력하세요:1
두번째 숫자를 입력하세요:2
두 수의 합은 3 입니다

## Q4. 다음 중 출력 결과가 다른 것 하나를 고르세요

1. print("you" "need" "python")
2. print("you"+"need"+"python")
3. print("you", "need", "python")
4. print("".join(["you", "need", "python"]))

1. print("you" "need" "python")
    you" "need" "python
2. print("you"+"need"+"python")
    youneedpython
3. print("you", "need", "python")
    youneedpython
4. print("".join(["you", "need", "python"]))
    youneedpython
    
1번이 결과가 다를 것이다. 
=> 틀

In [70]:
print("you" "need" "python")
print("you"+"need"+"python")
print("you", "need", "python") 
# 여러개 출력할 때 프린트 함수에서 콤마 있으면 자동으로 공백 출력
print("".join(["you", "need", "python"]))

youneedpython
youneedpython
you need python
youneedpython